
//主要色彩
$base-red: #e5232c;
$dark-red: #b80106;
$index-btn-color: #e7120e;

//文字色值
$font-color-t1: #1f1f1f;
$font-color-t2: #666;
$font-color-t5: #ffffff;

$border-color: #ccc;
$divider-bg: #eeeeee;

$width: 1472px;
$width2: 1200px;


//字体大小排版
$font-h1: 32px; //用于导航标题，全局按钮
$font-h2: 30px; //用于列表标题
$font-h3: 28px; //用于导航两侧文字按钮、文本标题、正文
$font-h4: 26px; //用于副标题、段落正文、正文、二级banner、tabbar切换文字、表单小题/副标题
$font-h5: 24px; //用于副标题、辅助性或提示文字、小按钮文字
$font-h6: 22px; //用于副标题、辅助性或提示文字
$font-h7: 20px; //用于排序、进度条文字、列表标题
$font-h8: 18px; //用于大部分文本
$font-h9: 16px; //小按钮文字
// 18 - 22px用于标签文案

//背景和分隔线颜色
$line-color: #e5e5e5; //分隔线
$part-bg: #f9f9f9;    //局部背景
$global-bg: #ffffff;  //全局背景

